{% extends '::backend.html.twig' %}

{% block titulo %}
    Administracion - Carrera
{% endblock %}

{% block usuariolog %}
    {{usuario}}
{% endblock %}

{% block navegacion %}
    <div class="list-group">
        <a href="{{ path('backend_portada') }}" class="list-group-item">Inicio</a>
        <a href="{{ path('backend_carrera_portada') }}" class="list-group-item active">Carrera</a>
        <a href="{{ path('backend_mencion_portada')}}" class="list-group-item ">Mencion</a>
        <a href="{{ path('backend_especialidad_portada') }}" class="list-group-item">Especialidad</a>
        <a href="{{ path('backend_docente_portada')}}" class="list-group-item">Docente</a>
        <a href="{{ path('backend_estudiante_portada')}}" class="list-group-item">Estudiante</a>
        <a href="{{ path('backend_proyecto_portada') }}" class="list-group-item">Proyecto</a>
        <a href="{{ path('backend_horario_portada') }}" class="list-group-item">Horario</a>
    </div>
{% endblock %}

{% block contenido %}
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="col-md-2"></div>
            <div class="col-md-8">
            {% if carrera.activo %}
                <table class="table">
                    <tbody>
                        <tr>
                            <td><b>Id:</b></td>
                            <td>{{ carrera.id }}</td>
                        </tr>
                        <tr>
                            <td><b>Nombre:</b></td>
                            <td>{{ carrera.nombre }}</td>
                        </tr>
                        <tr>
                            <td><b>Descripcion:</b></td>
                            <td>{{ carrera.descripcion }}</td>
                        </tr>
                        <tr>
                            <td><b>Fecha Creacion:</b></td>
                            <td>{{ carrera.fechaRegistro|date('d-M-Y') }}</td>
                        </tr>
                        <tr>
                            <td><b>Fecha Modificacion:</b></td>
                            <td>{{ carrera.fechaModificacion|date('d-M-Y') }}</td>
                        </tr>
                    </tbody>
                </table>
                <a type="button" class="btn btn-warning" href="{{ path('backend_carrera_editar', {'carrera_id': carrera.id }) }}">Editar</a>
                <a type="button" class="btn btn-danger" href="{{ path('backend_carrera_eliminar', {'carrera_id': carrera.id }) }}">Eliminar</a>
                {% else %}
                    <p>Esta Carrera ha sido eliminada, desea volver a activarla?</p>
                    <a type="button" class="btn btn-success" href="{{ path('backend_carrera_eliminar', {'carrera_id': carrera.id }) }} ">Aceptar</a>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}