{% extends '::backend.html.twig' %}

{% block titulo %}
    Administracion - Carrera
{% endblock %}

{% block usuariolog %}
    {{usuario}}
{% endblock %}

{% block navegacion %}
    <div class="list-group">
        <a href="{{ path('backend_portada') }}" class="list-group-item">Inicio</a>
        <a href="{{ path('backend_carrera_portada') }}" class="list-group-item ">Carrera</a>
        <a href="{{ path('backend_mencion_portada')}}" class="list-group-item">Mencion</a>
        <a href="{{ path('backend_especialidad_portada') }}" class="list-group-item">Especialidad</a>
        <a href="{{ path('backend_docente_portada')}}" class="list-group-item">Docente</a>
        <a href="{{ path('backend_estudiante_portada')}}" class="list-group-item">Estudiante</a>
        <a href="{{ path('backend_proyecto_portada') }}" class="list-group-item">Proyecto</a>
        <a href="{{ path('backend_horario_portada') }}" class="list-group-item active">Horario</a>
    </div>
{% endblock %}

{% block contenido %}
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <form action="{{ path('backend_horario_nuevo') }}" method="POST" {{ form_enctype(form) }} class="form-horizontal" role="form">
                    {{ form_errors(form) }}
                    <div class="form-group">
                        <label for="inputEmail3" class="col-sm-3 control-label">Tipo</label>
                        <div class="col-sm-9">
                            {{ form_errors(form.tipo) }}
                            {{ form_widget(form.tipo, { 'attr': {'class': 'form-control'} }) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputEmail3" class="col-sm-3 control-label">Dia</label>
                        <div class="col-sm-9">
                            {{ form_errors(form.dia) }}
                            {{ form_widget(form.dia, { 'attr': {'class': 'form-control'} }) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputEmail3" class="col-sm-3 control-label">Hora Inicio</label>
                        <div class="col-sm-4">
                            {{ form_errors(form.horaini) }}
                            {{ form_widget(form.horaini, { 'attr': {'class': 'form-control'} }) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputEmail3" class="col-sm-3 control-label">Hora Fin</label>
                        <div class="col-sm-4">
                            {{ form_errors(form.horafin) }}
                            {{ form_widget(form.horafin, { 'attr': {'class': 'form-control'} }) }}
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Guardar</button>
                    {{ form_widget(form) }}
                </form>
            </div>
        </div>
    </div>
{% endblock %}