{% extends '::backend.html.twig' %}

{% block titulo %}
    Administracion - Estudiante
{% endblock %}

{% block usuariolog %}
    {{usuario}}
{% endblock %}

{% block navegacion %}
    <div class="list-group">
        <a href="{{ path('backend_portada') }}" class="list-group-item">Inicio</a>
        <a href="{{ path('backend_carrera_portada') }}" class="list-group-item">Carrera</a>
        <a href="{{ path('backend_mencion_portada')}}" class="list-group-item ">Mencion</a>
        <a href="{{ path('backend_especialidad_portada') }}" class="list-group-item ">Especialidad</a>
        <a href="{{ path('backend_docente_portada')}}" class="list-group-item">Docente</a>
        <a href="{{ path('backend_estudiante_portada')}}" class="list-group-item active">Estudiante</a>
        <a href="{{ path('backend_proyecto_portada') }}" class="list-group-item">Proyecto</a>
        <a href="{{ path('backend_horario_portada') }}" class="list-group-item">Horario</a>
    </div>
{% endblock %}

{% block contenido %}
   <div class="panel panel-default">
        <div class="panel-body">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                {% if estudiante.activo %}
                <table class="table">
                    <tbody>
                        <tr>
                            <td><b>Id:</b></td> <td>{{ estudiante.id }}</td>
                        </tr>
                        <tr>
                            <td><b>Carrera:</b></td> <td>{{ estudiante.mencion.carrera }}</td>
                        </tr>
                        <tr>
                            <td><b>Mencion:</b></td> <td>{{ estudiante.mencion }}</td>
                        </tr>
                        <tr>
                            <td><b>Tipo:</b></td> <td>{{ estudiante.tipo }}</td>
                        </tr>
                        <tr>
                            <td><b>Nombres:</b></td> <td>{{ estudiante.nombres }}</td>
                        </tr>
                        <tr>
                            <td><b>Apellido Paterno:</b></td> <td>{{ estudiante.apPaterno }}</td>
                        </tr>
                        <tr>
                            <td><b>Apellido Materno:</b></td> <td>{{ estudiante.apMaterno }}</td>
                        </tr>
                        <tr>
                            <td><b>C.I.:</b></td> <td>{{ estudiante.ci}}</td>
                        </tr>
                        <tr>
                            <td><b>Telefono:</b></td> <td>{{ estudiante.telefono}}</td>
                        </tr>
                        <tr>
                            <td><b>Celular:</b></td> <td>{{ estudiante.celular}}</td>
                        </tr>
                        <tr>
                            <td><b>Email:</b></td> <td>{{ estudiante.email}}</td>
                        </tr>
                    </tbody>
                </table>
                <a type="button" href="{{ path('backend_estudiante_editar', {'estudiante_id': estudiante.id }) }}" class="btn btn-warning" role="button">Editar</a>
                <a type="button" class="btn btn-danger" href="{{ path('backend_estudiante_eliminar', { 'estudiante_id': estudiante.id }) }}">Eliminar</a>
                {% else %}
                    <p>Este Estudiante ha sido eliminado, desea volver a activarlo?</p>
                    <a type="button" class="btn btn-success" href="{{ path('backend_estudiante_eliminar', {'estudiante_id': estudiante.id }) }} ">Aceptar</a>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}