{% extends '::frontend.html.twig' %}

{% block contenido %}
<div class="container">
    <div class="col-md-6">
      <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
        <li data-target="#carousel-example-generic" data-slide-to="3"></li>
        <li data-target="#carousel-example-generic" data-slide-to="4"></li>
      </ol>

      <!-- Wrapper for slides -->
      <div class="carousel-inner">
        <div class="item active">
          <img src="{{ asset('bundles/bootstrap/img/DSC00226.jpg') }}" alt="">
          <div class="carousel-caption">
            Laboratorio
          </div>
        </div>
        <div class="item">
          <img src="{{ asset('bundles/bootstrap/img/DSC00244.jpg') }}" alt="">
          <div class="carousel-caption">
            Laboratorio
          </div>
        </div>
          <div class="item">
              <img src="{{ asset('bundles/backend/img/DSCN3730.jpg') }}" alt="">
              <div class="carousel-caption">
                  Frontis Carrera de Sistemas e Informatica
              </div>
          </div>
          <div class="item">
              <img src="{{ asset('bundles/backend/img/DSCN3737.jpg') }}" alt="">
              <div class="carousel-caption">
                  Blocque A Carrera de Sistemas e Informatica
              </div>
          </div>
          <div class="item">
              <img src="{{ asset('bundles/backend/img/DSCN3743.jpg') }}" alt="">
              <div class="carousel-caption">
                  Blocque E Carrera de Sistemas e Informatica
              </div>
          </div>
        CARRERA DE INGENIERIA DE SISTEMAS E INFORMATICA
    </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div>
    </div>
    <div class="col-md-6">
        <div class="panel panel-default">
          <div class="panel-body">
              <br/><br/><br/><br/>
              <div class="row text-center">
                <div class="col-sm-4"></div>
                <div class="col-sm-4">

                </div>
                <div class="col-sm-4"></div>
              </div>
              <div class="row text-center">
                  <div class="col-sm-2">

                  </div>
                  <div class="col-sm-8">
                      <p><h3>Sistema de Informacion para</h3></p>
                      <p><h3>la Administracion de</h3></p>
                      <p><h3>Proyectos de Grado</h3></p>
                  </div>
              </div>
              <br/><br/>
              <br/><br/>
              <br/>
          </div>
        </div>

    </div>
</div>

{% endblock %}